{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row m-2">
        <div class="col-sm">
            <div class"form-group ml-0">
                <button class="btn btn-lg btn-primary ml-0">{{ button_label|default('Save') }}</button>
            </div>
        </div>
        <div class="col-sm">
            
        </div>
        <div class="col-sm">
            <a href="{{ path('post_index') }}" class="btn btn-lg btn-outline-secondary float-right">back to list</a>
        </div>
    </div>
{{ form_end(form) }}
